@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ConduitITC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/ConduitITCRegular.otf') format('opentype');
}

body {
  font-family: 'ConduitITC', sans-serif;
}