@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ConduitITC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/Conduit-ITC.woff') format('woff');
}

body {
  font-family: 'ConduitITC', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #a3bbd8;
  border-radius: 20px;
}

#titlebar {
  -webkit-app-region: drag;
}

#titlebar button {
  -webkit-app-region: no-drag;
}
